# ML Service Configuration

# Kafka Configuration
KAFKA_BOOTSTRAP=kafka:9092
INPUT_TOPIC=job.prepared
OUTPUT_TOPIC_OK=job.completed
OUTPUT_TOPIC_FAIL=job.failed

# MinIO Configuration
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
BUCKET=audio-files

# Backend API Configuration
BACKEND_URL=http://backend:8080/api/jobs

# Model Configuration
MODEL_PATH=model_weights.pth
DEVICE=cuda  # или cpu
